bin
lib
__pycache__
pyvenv.cfg
AIOgramBot.py
db.sqlite3
db.sqlite3-journal
language_settings.py
app/language_settings.py
neural_network
.git
cough_dataset
public_dataset
app/filters.py
users.db.sqlite3
db.users
voice_messages/
csvs_saved/
share/
research_on_features/nn_model.ipynb
research_on_features/extract_log_mel_sp.py
research_on_features/Models-research.ipynb
.env
opensmile-master/
app/middlewares.py
sub_processes/age.png
sub_processes/region.png
.DS_Store
lib/
